<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs", {title: "Tea Shop"}) %>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <h1>Welcome to the tea shop!</h1>
    <p>Please select the Add Tea link to create a tea</p>
  </body>
</html>
